<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/site.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
    <script src="../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="../assets/js/script.js"></script>
</head>
<body>
<div class="container-fluid profile">

    <div class="page-header text-center">
        <h2><span class=""></span>Profile</h2>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row profile-details">
        <div class="col-md-11 profile-wrap">
            <div class="profile-header">
                <h3>General Information</h3>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <div class="col-sm-9">
                            <img class="img-responsive" src="../assets/images/p.pic.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputFirstName" class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="firstName" placeholder=""
                                   value="Qiqa"></div>
                    </div>
                    <div class="form-group row clearfix">
                        <label for="inputFirstName" class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lastName" placeholder=""
                                   value="Kotyi"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputFirstName" class="col-sm-3 control-label">Cell Number</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="cellNumber" placeholder=""
                                   value="Qiqa"></div>
                    </div>
                    <div class="form-group row clearfix">
                        <label for="inputFirstName" class="col-sm-3 control-label">Address</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="address" placeholder="" ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row password-row">
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputFirstName" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lastName" placeholder=""
                                   value="********"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row clearfix">
                        <label for="inputFirstName" class="col-sm-3 control-label">Confirm Password</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="cellNumber" placeholder=""
                                   value="*********"></div>
                    </div>

                </div>
            </div>
        </div>
        <!-- LOCAL INFORMATION -->
        <!--<div class="col-sm-6">-->
        <!--<div class="well">-->
        <!--<h3><span class="fa fa-user"></span> Local</h3>-->

        <!--<p>-->
        <!--<strong>id</strong>: <%= user._id %><br>-->
        <!--<strong>email</strong>: <%= user.local.email %><br>-->
        <!--<strong>password</strong>: <%= user.local.password %>-->
        <!--</p>-->

        <!--</div>-->
        <!--</div>-->
        <!-- FACEBOOK INFORMATION -->
        <!--<div class="col-sm-6">-->
        <!--<div class="well">-->
        <!--<h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>-->

        <!--<p>-->
        <!--<strong>id</strong>: <%= user.facebook.id %><br>-->
        <!--<strong>token</strong>: <%= user.facebook.token %><br>-->
        <!--<strong>email</strong>: <%= user.facebook.email %><br>-->
        <!--<strong>name</strong>: <%= user.facebook.name %>-->
        <!--</p>-->

        <!--</div>-->
        <!--</div>-->

    </div>
</div>
</body>
</html>